body{
  background-color: black;
}

img{
  width:100%;
}

.title{
  position: relative;
  height: 100px;
  background: black;
  color: green;
  text-align: center;
  font-size: 60px;
  font-family: 'Creepster', cursive;
  text-shadow: 4px 4px 8px rgb(170, 241, 4);
}
h1{
  padding: 6px 6px;
  
  position: absolute;
  margin-top: 0px;
  margin-left: 320px;
}
.main-container{
  margin-top: 35px;
}
.monster{
  font-size: 18px;
  margin: 10px;
  background: green;
  color: black;
}
label{
  font-family: 'Nosifer', cursive;
  color: rgb(124, 3, 3);
}
#monster-form{
 margin-left: 20px;
}
#add-monster{
  background: cornsilk;
  font-family: 'Nosifer', cursive;
  color: rgb(124, 3, 3);
  margin-top: 5px;
}
.monster:hover{
  font-family: 'Nosifer', cursive;
  color: rgb(124, 3, 3);
  background: cornsilk;
}