body{
  background-color: black;
  background-image: url(https://live.staticflickr.com/3942/15642634706_43d211437e_b.jpg)
}

img{
  width:100%;
}

.title{
  position: relative;
  height: 100px;
  background: black;
  color: green;
  text-align: center;
  font-size: 60px;
  font-family: 'Creepster', cursive;
  text-shadow: 4px 4px 8px rgb(170, 241, 4);
}
h1{
  padding: 6px 6px;
  
  position: absolute;
  margin-top: 0px;
  margin-left: 300px;
}
.main-container{
  margin-top: 35px;
}
.monster{
  font-size: 18px;
  margin: 15px;
  background: green;
  color: black;
}
label{
  font-family: 'Nosifer', cursive;
  color: rgb(124, 3, 3);
  text-shadow: 2px 2px 4px black;
}
#monster-form{
 margin-left: 20px;
}
#add-monster{
  background: cornsilk;
  font-family: 'Nosifer', cursive;
  color: rgb(124, 3, 3);
  text-shadow: 2px 2px 4px black;

  margin-top: 5px;
}
.monster:hover{
  font-family: 'Nosifer', cursive;
  color: rgb(124, 3, 3);
  text-shadow: 2px 2px 4px black;
  background: cornsilk;
}


.monsterDiv {
  width: 500px;
  margin-left: 375px;
}
/* #gifs-appear-here{
  background-image: url(https://www.alternative-theatre.jp/images/kv_about_pc.png);
} */
p{
  font-family:'Nosifer', cursive;
  color: rgb(124, 3, 3);
  text-shadow: 2px 2px 4px black;
  background: cornsilk;
  text-align:center;
}
img{
  margin-top: 30px;
}